.banner-clientele {
    width: 100%;
    margin-top: -160px;
    position: relative;
    z-index: -1;
}


.banner-clientele::before  {
  content: "";
  position: absolute;
  inset: 0; /* shorthand for top:0; right:0; bottom:0; left:0; */
  background: #FEEE0E;
background: linear-gradient(45deg, rgba(254, 238, 14, 0.35) 0%, rgba(254, 237, 10, 0) 100%);
  z-index: 1;
  border-radius: 10px; /* optional if you need rounded corners */
}

.clientele {
 padding: 0px 20px;
}

.clientele h1 {
    font-size: 60px;
    text-align: center;
    font-family: "PT Serif", serif;
    font-weight: 700;
    margin: 30px auto;
}

.clientele h4 {
    background: #F2AF29;
    background: linear-gradient(90deg, rgba(242, 175, 41, 1) 0%, rgba(255, 250, 170, 1) 100%);
    text-decoration: none;
    color: #000;
    font-size: 30px;
    line-height: 1.5;
    text-align: center;
    padding: 0px 30px;
    border-radius: 52px;
    font-family: "PT Serif", serif;
    font-weight: 700;
    padding: 10px 0px;
    display: block;
    max-width: 340px;
    margin: auto;

}


.clientele p {
       font-size: 25px;
       line-height: 1.6;
       font-weight: 400;
       padding: 0px 10px;
       font-weight: normal;
         font-family: "PT Sans", sans-serif;
         text-align: left;
         color: #000;
}

.clientele ul li {
    list-style: disc;
    font-size: 25px;
    line-height: 1.6;
}

.clientele ol {
    margin-top: 30px;
}
 
.clientele ol li {
    font-size: 25px;
    line-height: 1.6;
    margin-bottom: 15px;
}

.clientele ol ul li::marker {
    color: #F2AF29;              /* bullet color */
    font-size: 20px;         /* bullet size */
  } 