#contact-container{
    background: #fff;
    box-shadow: 0 0 25px 5px rgba(90, 116, 148, 0.25);
    border-radius: 20px;
    width: 95%;
    margin:-50px auto 40px;
    padding-bottom: 40px;
    padding-top: 20px;
}
.contactus-title{
    background: #F2AF29;
    background: linear-gradient(90deg, rgba(242, 175, 41, 1) 0%, rgba(255, 250, 170, 1) 100%);
    text-decoration: none;
    color: #000;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    padding: 0px 30px;
    border-radius: 52px;
    font-family: "PT Serif", serif;
    font-weight: 700;
    padding: 10px 0px;
    display: block;
    max-width: 200px;
    width: 50%;
    margin: 30px auto 50px;
}
.comments-title-txt{
    font-size: 35px;
    font-weight: 700;
    font-family: "PT Serif", serif;
    text-align: center;
    padding: 10px 0 30px;
}
.contact-frm{
    width: 96%;
    margin: 0 auto 0;
}
.frm-left{
    width: 50%;
    float: left;
}
.contactfrm-row{
    width: 100%;
    float: left;
    text-align: center;
}
.contactfrmTxtbox{
    background: #fff;
    border: 1px solid #c8c8c8;
    width: 97%;
    height: 60px;
    line-height: 60px;
    border-radius: 10px;
    padding-left: 13px;
    font-family: "PT Serif", serif;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 15px;
    color: #616055;
}
.subjectfrmTxtbox{
    background: #fff;
    border: 1px solid #c8c8c8;
    width: 98.5%;
    height: 60px;
    line-height: 60px;
    border-radius: 10px;
    padding-left: 13px;
    font-family: "PT Serif", serif;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 25px;
    margin-top: 15px;
    color: #616055;
}
.commentsTxtarea{
    background: #fff;
    border: 1px solid #c8c8c8;
    width: 98.5%;
    height: 150px;
     font-family: "PT Serif", serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 25px;
    border-radius: 10px;
    resize: none;
}
.contact-submit-btn{
    font-size: 20px;
    font-weight: 700;
    font-family: "PT Serif", serif;
    text-align: center;
    background: #F2AF29;
    text-decoration: none;
    color: #000;
    border-radius: 10px;
    padding:15px;
    width: 200px;
    margin: 20px auto 10px;
    display: block;
}

.clear-fix{
    clear: both;
}
