
.banner-home {
    background: url(../images/home/hero-bg.png) no-repeat left bottom #F2AF29;
    padding: 13% 20px 10%;
    margin-top: -140px;
    max-height: 1080px;
}


.banner-home  .ban-content {
    margin: 20% 0 10%;
 
}

.banner-home  .ban-content h1 {
    font-size: 75px;
    text-align: left;
    font-family: "PT Serif", serif;
    font-weight: 700;
    margin-bottom: 30px;
}

.banner-home  .ban-content p {
    font-size: 40px;
    font-family: "PT Serif", serif;
}

.banner-home  .ban-content h2 a {
    background: #F2AF29;
    background: linear-gradient(90deg, rgba(242, 175, 41, 1) 0%, rgba(255, 250, 170, 1) 100%);
    text-decoration: none;
    color: #000;
    font-size: 30px;
    line-height: 1.5;
    text-align: center;
    padding: 0px 30px;
    border-radius: 52px;
    font-family: "PT Serif", serif;
    font-weight: 700;
    padding: 10px 0px;
    display: block;
    max-width: 340px;
    margin: 50px 0px;
}


.banner-home  .ban-content h3 a {
    background: #fff;    
    text-decoration: none;
    color: #000;
    font-size: 30px;
    line-height: 1.5;
    text-align: center;
    padding: 0px 30px;
    border-radius: 53px;
    font-weight: 700;
    padding: 10px 0px;
    display: block;
    max-width: 238px;
    margin: 30px 0px;
}

.upcoming-events {
    margin: 20px 20px;
}


.upcoming-events h4 {
    background: #F2AF29;
    background: linear-gradient(90deg, rgba(242, 175, 41, 1) 0%, rgba(255, 250, 170, 1) 100%);
    text-decoration: none;
    color: #000;
    font-size: 30px;
    line-height: 1.5;
    text-align: center;
    padding: 0px 30px;
    border-radius: 52px;
    font-family: "PT Serif", serif;
    font-weight: 700;
    padding: 10px 0px;
    display: block;
    max-width: 340px;

}

.view-more {
    text-align: right;
    font-size: 25px;
    color: #000;
}

.view-more a {
    text-decoration: none;
    color: #000;
    border-bottom: solid 4px #F2AF29;
}

/* .upcoming-events img::before {
    background-color: rgba(242, 175, 41, 1);
    position: absolute;
}

.upcoming-events img {
    width: 100%;
    position: relative;
} */

.upcoming-events .event-img {
  position: relative;
  display: inline-block;
}

.upcoming-events .event-img::before {
  content: "";
  position: absolute;
  inset: 0; /* shorthand for top:0; right:0; bottom:0; left:0; */
 background: #FEEE0E;
background: linear-gradient(150deg, rgba(254, 238, 14, 0.20) 0%, rgba(242, 175, 41, 0) 100%);
  z-index: 1;
  border-radius: 10px; /* optional if you need rounded corners */
}

.upcoming-events .event-img img {
  width: 100%;
  display: block;
  position: relative;
  z-index: 0;
    box-shadow: 0 2px 5px rgba(0,0,0,0.15);
    border-radius: 10px;
}


.event-content {
 margin: 10px auto;
 padding: 0px 10px;
}

.event-content h5 {
    text-align: left;
    font-size: 30px;
    font-weight: 700;
    margin: 25px 0;
}

.event-content .details {
    font-size: 20px;
    color: #616055;
    font-weight: 400;
}
.event-content .details .date p {
       font-size: 20px;
       font-weight: 700;
}
.event-content .details .time p {
       font-size: 20px;
}

.event-content .details .location p {
    font-size: 20px;
}

.event-content .details .date p img, .event-content .details .location p img, .event-content .details .time p img {
    width: 20px;
    height: auto;
    margin-right: 10px;
    margin-bottom: 10px;
}

.watch-video {
 margin: 10px auto;
 padding: 0px 20px;
}

 

.watch-video h4 {
    background: #F2AF29;
    background: linear-gradient(90deg, rgba(242, 175, 41, 1) 0%, rgba(255, 250, 170, 1) 100%);
    text-decoration: none;
    color: #000;
    font-size: 30px;
    line-height: 1.5;
    text-align: center;
    padding: 0px 30px;
    border-radius: 52px;
    font-family: "PT Serif", serif;
    font-weight: 700;
    padding: 10px 0px;
    display: block;
    max-width: 340px;

}

.video-banner {
    position: relative;
}

.video-banner {
    margin: 10px auto 20px;
}
 
.video-banner h5 {
    text-align: left;
    font-size: 70px;
    font-weight: 700;
    margin: 25px 0 10px;
    text-align: center;
}

.video-banner .start-50 {
    left: 50%!important;
    width: 100%;
}

.video-banner  p {
       font-size: 25px;
       font-weight: 400;
}

.about-us {
 padding: 0px 20px;
}

.about-us h4 {
    background: #F2AF29;
    background: linear-gradient(90deg, rgba(242, 175, 41, 1) 0%, rgba(255, 250, 170, 1) 100%);
    text-decoration: none;
    color: #000;
    font-size: 30px;
    line-height: 1.5;
    text-align: center;
    padding: 0px 30px;
    border-radius: 52px;
    font-family: "PT Serif", serif;
    font-weight: 700;
    padding: 10px 0px;
    display: block;
    max-width: 340px;

}
.about-section-image {

background: #F2AF29;
background: linear-gradient(180deg, rgba(242, 175, 41, 1) 0%, rgba(255, 250, 170, 0) 100%);
border-radius: 110px 0 110px 0px;
}

.about-section-image img {
    border-radius: 110px 0 110px 0px;
    margin-left: 34px;
    margin-top: 25px;
}

.about-us p {
       font-size: 25px;
       line-height: 1.6;
       font-weight: 400;
       padding: 0px 10% 30px;
}

.about-us ul {
    margin: 30px 10% 30px;
}

.about-us ul li {
       font-size: 25px;
       line-height: 1.6;
       font-weight: 400;
       margin-bottom: 30px;
}

.about-us ul li::marker {
    color: #F2AF29;       /* Bullet color */
    font-size: 1.5em; /* Bullet size */
}

.our-services {
 padding: 4% 20px;
 background: url(../images/home/our-services-bg.png) no-repeat center top;
}

.our-services h4 {
    background: #F2AF29;
    background: linear-gradient(90deg, rgba(242, 175, 41, 1) 0%, rgba(255, 250, 170, 1) 100%);
    text-decoration: none;
    color: #000;
    font-size: 30px;
    line-height: 1.5;
    text-align: center;
    padding: 0px 30px;
    border-radius: 52px;
    font-family: "PT Serif", serif;
    font-weight: 700;
    padding: 10px 0px;
    display: block;
    max-width: 340px;
    margin-bottom: 30px;

}

.our-services p {
       font-size: 25px;
       line-height: 1.6;
       font-weight: 400;
       padding: 0px 0 30px;
       color: #fff;
}

.our-services .services-content {
    margin: 30px auto;
    padding: 0px 5%;
}

.partnership {
 padding: 5% 20px;
 background: #FFFDDF;
}


.partnership h4 {
    background: #F2AF29;
    background: linear-gradient(90deg, rgba(242, 175, 41, 1) 0%, rgba(255, 250, 170, 1) 100%);
    text-decoration: none;
    color: #000;
    font-size: 30px;
    line-height: 1.5;
    text-align: center;
    padding: 0px 30px;
    border-radius: 52px;
    font-family: "PT Serif", serif;
    font-weight: 700;
    padding: 10px 0px;
    display: block;
    max-width: 240px;
    margin-bottom: 30px;

}

.partnership p {
       font-size: 25px;
       line-height: 1.6;
       font-weight: 400;
       padding: 0px 0 30px;
       color: #000;
}

.projects {
     padding: 5% 20px 2%;
 background: #fff;
}

.projects h4 {
    background: #F2AF29;
    background: linear-gradient(90deg, rgba(242, 175, 41, 1) 0%, rgba(255, 250, 170, 1) 100%);
    text-decoration: none;
    color: #000;
    font-size: 30px;
    line-height: 1.5;
    text-align: center;
    padding: 0px 30px;
    border-radius: 52px;
    font-family: "PT Serif", serif;
    font-weight: 700;
    padding: 10px 0px;
    display: block;
    max-width: 430px;
    margin-bottom: 30px;

}

.projects .event-img {
  position: relative;
  display: inline-block;
}
 

.projects .event-img::before {
    content: "";
    position: absolute;
    inset: 0;
    background: #FEEE0E;
    background: linear-gradient(150deg, rgba(254, 238, 14, 0.20) 0%, rgba(242, 175, 41, 0) 100%);
    z-index: 1;
    border-radius: 10px;
}

.projects .event-img img {
  width: 100%;
  display: block;
  position: relative;
  z-index: 0;
    box-shadow: 0 2px 5px rgba(0,0,0,0.15);
    border-radius: 10px;
}


.projects p {
       font-size: 25px;
       line-height: 1.6;
       font-weight: 400;
       padding: 0px 0 30px;
       color: #000;
}

.projects h5 {
    font-family: "PT Serif", serif;
    font-weight: 700;
    padding: 10px 0px;
     color: #000;
     font-size: 60px;
     margin-bottom: 30px;
}

.projects .input-group {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
    height: 60px;
    border:solid 1px #616055;
    border-radius: 10px;
}

.projects .input-group input.form-control {
    border: none;
    background: transparent;
}
.projects .input-group button.btn.btn-outline-secondary {
    border: none;
    color: #616055;
}
#carouselProjectsControls {
    margin: 30px auto;
}



.projects img {
    width: 100%;
}

.projects .event-content {
 margin: 10px auto;
 padding: 0px 10px;
}

.projects .event-content h5 {
    text-align: left;
    font-size: 30px;
    font-weight: 700;
    margin: 25px 0 0px;
    font-family: "PT Sans", sans-serif;
}

.projects .event-content .details {
    font-size: 20px;
    color: #616055;
    font-weight: 400;
}
.projects .event-content .details .date p {
       font-size: 20px;
       font-weight: 700;
}
.projects .event-content .details .time p {
       font-size: 20px;
}

 

.projects .event-content .details .date p img, .projects .event-content .details .location p img, .projects .event-content .details .time p img {
    width: 20px;
    height: auto;
    margin-right: 10px;
    margin-bottom: 10px;
}

