#newsrelease-container{
    padding: 0 4%;
}
#newsrelease-container h4 {
    background: #F2AF29;
    background: linear-gradient(90deg, rgba(242, 175, 41, 1) 0%, rgba(255, 250, 170, 1) 100%);
    text-decoration: none;
    color: #000;
    font-size: 30px;
    line-height: 1.5;
    text-align: center;
    padding: 0px 30px;
    border-radius: 52px;
    font-family: "PT Serif", serif;
    font-weight: 700;
    padding: 10px 0px;
    display: block;
    max-width: 340px;
    margin: 5% auto 0;
}
.newsrelease-inner-title {
    font-size: 30px;
    text-align: center;
    font-family: "PT Serif", serif;
    font-weight: 700;
    margin: 30px auto;
    width: 50%;
    line-height: 40px;
}
.newsrelease-inner-image1, .newsrelease-cnt2{
    width: 70%;
    margin: 0 auto 40px;
    float: none;
    text-align: center;
}
.newsrelease-inner-image1 img, .newsrelease-cnt2-img img {
    width: 100%;
}
.newsrelease-inner-cnt1{
    font-size: 25px;
    text-align: left;
    font-family: "PT Serif", serif;
    font-weight: 500;
    margin: 30px auto;
    width: 70%;
    line-height: 32px;
    color: #000;
    padding-right: 40px;
}
.newsrelease-cnt2-img, .newsrelease-cnt2-para{
    width: 50%;
    float: left;
    padding-bottom: 40px;
}
.newsrelease-cnt2-title{
    font-size: 28px;
    text-align: left;
    font-family: "PT Serif", serif;
    font-weight: 700;
    margin: 0;
    width: 100%;
    line-height: 33px;
    padding-left: 20px;
    padding-bottom: 15px;
}
.newsrelease-cnt2-innerpara{
    font-size: 25px;
    text-align: left;
    font-family: "PT Serif", serif;
    font-weight: 500;
    margin: 0;
    width: 100%;
    line-height: 32px;
    color: #000;
    padding-left: 20px;
}
