.pt-serif-regular {
  font-family: "PT Serif", serif;
  font-weight: 400;
  font-style: normal;
}

.pt-serif-bold {
  font-family: "PT Serif", serif;
  font-weight: 700;
  font-style: normal;
}

.pt-serif-regular-italic {
  font-family: "PT Serif", serif;
  font-weight: 400;
  font-style: italic;
}

.pt-serif-bold-italic {
  font-family: "PT Serif", serif;
  font-weight: 700;
  font-style: italic;
}


.pt-sans-regular {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.pt-sans-bold {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.pt-sans-regular-italic {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.pt-sans-bold-italic {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.container-fluid {
    max-width: 100%;
    padding: 0;
}


body {
    margin: 0px;
    padding: 0px;
    font-family: "PT Sans", sans-serif;
    font-size: 30px;
    line-height: 1.3;
    color: #000;
    font-weight: 400;
    overflow-x: hidden;
}

.navbar-expand-lg .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
    justify-content: center; /* Center horizontally */
}

.navbar-expand-lg .navbar-collapse .navbar-nav {
    display: flex;
    justify-content: center; /* Center nav items inside */
    width: 100%; /* Make them span full space for centering */
}


.navbar-brand {
    max-width: 400px;
    margin-right: 2%;
}

.navbar {
    background: #fff;
    height: 85px;
    box-shadow: 0 0px 25px 0 rgba(90, 116, 148, 0.25);
    border-radius: 10px;
    padding: 0px 15px;
}

.header {
    max-width: 97%;
    margin: 20px auto;
}


/* Default header style */
#mainHeader {
    position: relative;
    transition: all 0.5s ease;
    transform: translateY(-0%)
}

/* Fixed header style */
#mainHeader.fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1030; /* higher than navbar */
    box-shadow: 0 2px 5px rgba(0,0,0,0.15);
    
}



.header .navbar-nav .nav-link {
  font-size:1.2rem;
  color: #000;
  margin: 0px 15px;
  padding: 0px;
}

.header .navbar-nav:hover {

}
.header .navbar-nav .active {
    font-weight: 700; 
     position: relative;
    display: inline-block;
    padding-bottom: 10px;
    top: -10px;
}

.header .navbar-nav .active::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 100%;
    height: 4px; /* Thickness of the line */
    background-color: #F2AF29;
    border-radius: 4px; /* Curves both ends */
    border:none;
}

.header .navbar-brand img {
    max-width: 100%;
}

div#navbarScroll {
    margin-top: 20px;
}

.navbar-nav .dropdown-menu {
    top:125% !important;
     box-shadow: 0 2px 5px rgba(0,0,0,0.15);
     padding: 15px 15px 0;
}

.dropdown-item {
    font-size: 18px;
    color: #000;
    margin-bottom: 15px;
    border-bottom: solid 2px #F2AF29;
}

.active-submenu {
      color: #000;
    font-weight: 600;
}

.dropdown-item:focus, .dropdown-item:hover {
    background: transparent;
    color: #000;
    font-weight: 600;
}

.dropdown-menu li:last-child a.dropdown-item {
    border-bottom: none;
}

.header .login {
    background: #F2AF29;
    border-radius: 32px;
    font-size: 22px;
    font-weight: 700;
    width: 120px;
    height: 50px;
    margin-top: -20px;
}



.footer-top {
    background: url(../images/footer/footer-top-bg.png) no-repeat center top;
}

.footer-top p {
    font-size: 50px;
    text-align: center;
    line-height: 1.8;
    color: #fff;
    font-family: "PT Serif", serif;
    font-weight: 700;
    padding-bottom: 0;
    margin-bottom: 0;
}

.footer-bottom {
    background: #616055;
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-size: 21px;
    line-height: 1.4;
    padding: 3.5% 2% 2%;
    color: #fff;
}

.footer-bottom  h4 {
    font-size: 35px;
    font-weight: 400;
    margin-bottom: 20px;
}

.footer-bottom p {
    font-size: 17px;
    text-align: left;
    line-height: 1.5;
    color: #fff;
   font-family: "PT Sans", sans-serif;
    font-weight: 400;
}

.footer-bottom .col-md-3:nth-child(1) p {
    color: rgba(255, 255, 255, 0.76);
    padding-right: 20px;
}

.footer-bottom p a {
    text-decoration: none;
    color: #fff;
}

.footer-bottom img {
    margin-right: 10px;
}
 
.footer-bottom input {
    background: #fff;
    width: 100% !important;
    height: 60px;
    border: none;
    border-radius: 10px !important;

}

.footer-bottom form button {
    background: none;
    border: none;
    right: 0px;
    position: absolute;
    top: 12px;
    z-index: 999;
}

.footer-bottom .col-md-6.text-end p{
    text-align: right;
}

.footer-bottom .col-md-6.text-end p a {
    padding-left: 5px;
}

 
.rounded-5 {
  border-radius: .5rem !important;  /* Bootstrap default */
}